@import '../scss/variables.scss';

.collapse-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

@media screen and (max-width: 550px) {
	.collapse-container {
		padding: 1rem;
		width: 100%;
	}
}