.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: #ff6060;
    font-weight: 500;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    color: #ff6060; 
}

.navbar a:hover {
    text-decoration: underline;
}
.navbar a.active {
    text-decoration: underline;
}

.navbar *:first-child {
    margin-right: auto;
  }